.articleNav {
    color: #fff;
    text-align: center;
    min-width: 150px;
    width: 25%;
    font-weight: bold;
    padding: 0.5em 1em;
    margin-bottom: 30px;
    background-color: #071952;
    position: relative;

    &:first-child {
        margin-top: 30px;
    }

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        border-width: 0 20px 20px 0;
        border-style: solid;
        border-color: rgba(158, 221, 255, 1) #fff rgba(158, 221, 255, 1);
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
    }
}

.mainContainer {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}
