// .sidebar {
//     background-color: rgba(245, 245, 245, 1);
// }
.nav {
    padding: 30px 0;
    margin-top: 50px;

    &_ul {
        padding: 20px;
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(245, 245, 245);
        border-radius: 20px;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        &_title {
            width: 100%;
            font-size: 20px;
            text-decoration: underline;
            padding-bottom: 20px;
            text-align: center;
        }
    }

    &_li {
        font-size: 14px;
        padding: 7px 14px;
        color: #fff;
        background-color: #6499e9;
        margin-bottom: 7px;
        border-radius: 14px;

        &:not(:last-child) {
            margin-right: 7px;
        }
    }
}
